{% extends "base.html" %}

{% load static %}

{% block title %}Course-List - JIIT{% endblock title %}

{% block content %}

  <!-- Page Content -->
  <div class="container mt-5" style="padding-top: 65px;">
    <h2 class="text-center mb-4">Training Requirements</h2>
    <p class="text-center">At Jetbrains College, we require students to carry 1 photocopy of ID/ Birth Certificate, 1 passphoto &amp; 1 A4 size booklet on admission.</p>

    <h2 class="text-center mb-4">Our Courses</h2>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <input class="form-control" id="searchInput" type="text" placeholder="Search for courses...">
      </div>
    </div>
    <div id="coursesTable">
      <h3>Computer Packages</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Tuition Fee</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Introduction to Computer</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Word processor</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Spreadsheet</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Database</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Presentation</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Publication</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Internet</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>IT-Security</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>2.5 Months</td>
              <td>Ksh. 7,500</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="coursesTable">
      <h3>Graphic Design</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Tuition Fee</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Corel Draw</td>
              <td>1 Month</td>
              <td>Ksh. 3,000</td>
            </tr>
            <tr>
              <td>Corel paint</td>
              <td>1 Month</td>
              <td>Ksh. 2,500</td>
            </tr>
            <tr>
              <td>Illustrator</td>
              <td>1.5 months</td>
              <td>Ksh. 4,000</td>
            </tr>
            <tr>
              <td>Photoshop</td>
              <td>1 Month</td>
              <td>Ksh. 3,000</td>
            </tr>
            <tr>
              <td>InDesign</td>
              <td>1 Month</td>
              <td>Ksh. 2,500</td>
            </tr>
            <tr>
              <td>InkSpace</td>
              <td>1 Month</td>
              <td>Ksh. 3,000</td>
            </tr>
            <tr>
              <td>AfterEffects</td>
              <td>1 Month</td>
              <td>ksh. 6,000</td>
            </tr>
            <tr>
              <td>Adobe XD</td>
              <td>1.5 Months</td>
              <td>Ksh. 6,500</td>
            </tr>
            <tr>
              <td>Premiere</td>
              <td>1.5 Months</td>
              <td>Ksh. 8,500</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div id="coursesTable">
      <h3>Graphic Design</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Duration</th>
            <th>Tuition Fee</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Corel Draw</td>
              <td>1 Month</td>
              <td>Ksh. 3,000</td>
            </tr>
            <tr>
              <td>Corel paint</td>
              <td>1 Month</td>
              <td>Ksh. 2,500</td>
            </tr>
            <tr>
              <td>Illustrator</td>
              <td>1.5 months</td>
              <td>Ksh. 4,000</td>
            </tr>
            <tr>
              <td>Photoshop</td>
              <td>1 Month</td>
              <td>Ksh. 3,000</td>
            </tr>
            <tr>
              <td>InDesign</td>
              <td>1 Month</td>
              <td>Ksh. 2,500</td>
            </tr>
            <tr>
              <td>InkSpace</td>
              <td>1 Month</td>
              <td>Ksh. 3,000</td>
            </tr>
            <tr>
              <td>AfterEffects</td>
              <td>1 Month</td>
              <td>ksh. 6,000</td>
            </tr>
            <tr>
              <td>Adobe XD</td>
              <td>1.5 Months</td>
              <td>Ksh. 6,500</td>
            </tr>
            <tr>
              <td>Premiere</td>
              <td>1.5 Months</td>
              <td>Ksh. 8,500</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#coursesTable tbody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
      });
    });
  </script>

{% endblock content %}