{% extends "base.html" %}

{% load static %}

{% block title %}Courses - JIIT{% endblock title %}

{% block content %}

  <!-- Courses Section -->
  <div class="container my-5">
    <h2 class="text-center mb-4">Our Courses</h2>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <input class="form-control" id="searchInput" type="text" placeholder="Search for courses...">
      </div>
    </div>
    <div class="row" id="courseList">
      <div class="col-md-4 mb-4 course-card">
        <div class="card">
          <img src={% static "assets/images/courses/ms.jpg" %} class="card-img-top" alt="Web Development">
          <div class="card-body">
            <h5 class="card-title">Computer packages</h5>
            <p class="card-text">We covers fundamental skills such as word processing (e.g., Microsoft Word), spreadsheets (e.g., Microsoft Excel), and internet usage.</p>
            <a href={% url "course-list" %} class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 course-card">
        <div class="card">
          <img src={% static "assets/images/courses/py.jpg" %} class="card-img-top" alt="Python Programming">
          <div class="card-body">
            <h5 class="card-title">Programming / Coding</h5>
            <p class="card-text">We offer introductory and advanced courses in programming languages such as Python, Java, C++, and PHP.</p>
            <a href={% url "course-list" %} class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 course-card">
        <div class="card">
          <img src={% static "assets/images/courses/graphics.jpg" %} class="card-img-top" alt="Computer Packages">
          <div class="card-body">
            <h5 class="card-title">Graphics and Design</h5>
            <p class="card-text">We teach graphic design principles and practical skills using tools like Adobe Photoshop, Illustrator, and CorelDRAW.</p>
            <a href={% url "course-list" %} class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 course-card">
        <div class="card">
          <img src={% static "assets/images/courses/cad.jpg" %} class="card-img-top" alt="Computer Packages">
          <div class="card-body">
            <h5 class="card-title">Computer Aided Design</h5>
            <p class="card-text">We teach the use of computer softwares that assist in the creation, modification, analysis, or optimization of a design.</p>
            <a href={% url "course-list" %} class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 course-card">
        <div class="card">
          <img src={% static "assets/images/courses/accounting.jpg" %} class="card-img-top" alt="Computer Packages">
          <div class="card-body">
            <h5 class="card-title">Accounting &amp; Statistical packages</h5>
            <p class="card-text">We provide training on using accounting software such as QuickBooks, Sage, and Tally for financial management and bookkeeping.</p>
            <a href={% url "course-list" %} class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 course-card">
        <div class="card">
          <img src={% static "assets/images/courses/DG.jpg" %} class="card-img-top" alt="Computer Packages">
          <div class="card-body">
            <h5 class="card-title">Digital Skills</h5>
            <p class="card-text">We teach broad range of abilities needed to effectively use digital devices, communication applications, and networks to access and manage information.</p>
            <a href={% url "course-list" %} class="btn btn-primary">Know more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}