{% extends "base.html" %}

{% load static %}

{% block title %}Testify - JIIT{% endblock title %}

{% block content %}

  <!-- Testify Form -->
  <div class="container my-5" style="padding-top: 60px;">
    <h2 class="text-center mb-4">Share Your Experience</h2>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form action={% url "testify" %} method='post'>
            {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter your name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter your email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="course" name='course' placeholder="Enter the course you took">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="testimonial" rows="5" class="testimony" placeholder="Share your experience"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit Testimonial</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}